body {
    padding: 0;
    margin: 0;
    background: #FCFCFC;
  }
  /*--- navigation bar ---*/
  .navbar {
    background:#5EB1BF;
  }
  .nav-link,
  .navbar-brand {
    color: #FCFCFC;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #042A2B;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  .header {
    background-image: url('images/readmeHeader.jpg');
    background-size: contain;
    background-position: center;
    position: relative;
  }

  .description {
      left: 50%;
      position: absolute;
      top: 45%;
      transform: translate(-50%, -55%);
      text-align: center;
  }

  .description h1 {
      color: #F4E04D;
  }

  .description p {
      color: #FCFCFC;
      font-size: 1.3rem;
      line-height: 1.5;
  }

  .description button {
      border: 1px solid #F4E04D;
      background: #F4E04D;
      border-radius: 5px;
      color: #042A2B;
  }

  .description button:hover {
      border: 1px solid #5EB1BF;
      background: #5EB1BF;
      color: #042a2b;
  }

  .features {
      margin: 4em auto;
      padding: 1em;
      position: relative;
      background-color: #1e145f;
  }

  .feature-title {
      color: #78cdd2;
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
  }

  .features img {
      -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
      margin-bottom: 16px;
  }

.features .form-control,
.features input {
    border-radius: 5px;
}
.features .btn {
  background-color: #E1003C;
  border: 1px solid #E1003C;
  color: #fff;
  margin-top: 20px;
}
.features .btn:hover {
  background-color: #78cdd2;
  border: 1px solid #78cdd2;
}

.page-footer {
    background-color: #292728;
    color: #ccc;
    padding: 60px 0 30px;
  }
  .footer-copyright {
    color: #666;
    padding: 40px 0;
  }

  @media (max-width: 575.98px) {
    .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 10%;
      transform: none;
      text-align: center;
    }
    
    .description h1 {
      font-size: 2em;
    }
    
    .description p {
      font-size: 1.2rem;
    }
    
    .features {
      margin: 0;
    }
  }